body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(45deg, #f49d9d, #fdd5ad, #f9f9bb, #b0f9b0, #9f9ffc, #c793fb, #f994f6, #78dbf9, #f999f6, #8d79fd, #f78a8a);
    background-size: 400% 400%;
}

.container {
    text-align: center;
    color: rgb(253, 251, 251);
    padding: 20px;}

section {
    margin-top: 20px; /* Reduced margin for sections */
}

button {
    padding: 10px 20px; /* Adjusted padding for medium size */
    margin: 5px; /* Reduced margin for less space between buttons */
    font-size: 16px; /* Adjusted font size for better mobile experience */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    button {
        width: calc(100% - 10px); /* Full width minus margin */
        font-size: 18px; /* Slightly larger font size on mobile */
        padding: 12px; /* Adjusted padding for better touch targets */
    }

    section {
        margin-top: 15px; /* Further reduced space on mobile */
    }
}
